<h1>Score Page</h1>

<h2><%= @result %></h2>

<h3>Given characters:</h3>
<p><%= @letters %></p>

<h3>Your answer:</h3>
<p><%= @user_input %></p>

<h3>Your time:</h3>
<p><%= @score_time %></p>


<%= link_to "Play again!", new_path %>
